:root{
    --color-light: #fff;
    --color-dark: #000;
    --color-activ: #94CFFF;
    --color-button: #0B0E66;
    --color-border: #26C7EA;
    --color-title: #0A3853;
    --color-uk: #141414;
    --color-backraund: rgba(43, 74, 97, 0.87);
}
.body{
    font-family: 'Inter';
    font-weight: 400;
}
.main-container{
    position: relative;
    width: 1440px;
    margin: 0 auto;
    /* outline: 1px dashed #0ceb17;  */
}
.container{
    width: 1034px;
    margin: 0 auto;
    /* outline: 1px dashed tomato; */
}
.header-div{
    display: flex;
    align-items: center;
}
/* header */
.header{
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)),url(../images/back-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 3px solid #fff;
    padding-top: 39px;
    padding-bottom: 39px;
}
.lang-list {
    position: absolute;
    top: 65px;
    right: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.eng{
    color: var(--color-light);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.uk-head{
    color: var(--color-light);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 38px;
    margin-right: 212px;
}
.link-logo{
    margin-right: 168px;
}
.link-logo-eng{
    margin-right: 184px;
}
.nav-item-link{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: var(--color-light);
}
.active-link{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: var(--color-activ);
}
.header-link{
    color: var(--color-border);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    background-color: var(--color-button);
    border-radius: 35px 0;
    border: 2px solid var(--color-border);
    width: 141px;
    height: 42px;
    padding-top: 7px;
}
.header-list{
    display: flex;
    align-items: center;
}
.header-list-link{
    margin-right: 10px;
}
.header-list-link-two{
    margin-left: 10px;
}
.hero{
    padding-top: 180px;
    padding-bottom: 179px;
    background-image: url(../images/hero-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-link{
    display: inline-block;
    width: 270px;
    height: 80px;
    padding: 10px 30px;
    color: var(--color-border);
    background-color: var(--color-button);
    border: 3px solid #26c7ea;
    border-radius: 45px 0;
    font-weight: 400;
    font-size: 24px; 
    text-align: center;
}
.hero-inst{
    margin-bottom: 24px;
}
.hero-twit{
    margin-bottom: 27px;
}
.hero-title{
    display: none;
}
.hero-navi{
    color: var(--color-light);
    font-weight: 400;
    font-size: 20px;
    width: 273px;
}
.hero-navi::after{
    content: '';
    display: block;
    width: 142px;
    height: 40px;
    background-image: url(../images/white.png);
    margin-left: 53px;
}
.hero-uk{
    color: var(--color-light);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 42px;
}
.hero-logos{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.section-citation{
    padding-top: 75px;
    padding-bottom: 10px;
}
.citation-item:not(:last-child){
    margin-bottom: 4px;
}
.citation{
    color: var(--color-uk);
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}
.citation-eng{
    color: var(--color-uk);
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    width: 1100px;
}
.name{
    color: var(--color-dark);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-top: 16px;
}
.name::after{
    content: '';
    display: block;
    width: 400px;
    height: 120px;
    background-image: url(../images/bird.png);
    margin-left: 317px;
}
.section-trailer{
    padding-top: 330px;
    padding-bottom: 331px;
    background-image: url(../images/back-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.trailer{
    display: none;
}
.trailer-button{
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    padding: 22px 17px 22px 16px;
    margin-left: 387px;
    color: var(--color-border);
    background-color: var(--color-button);
    border-radius: 45px 0;
    border: 3px solid var(--color-border);
}
.learning{
    background-image: url(../images/back-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 57px;
    padding-bottom: 57px;
}
.learning-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
    list-style: none;
    padding: 0;
}
.learning-title{
    font-family: 'Headland One';
    color: var(--color-uk);
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin-bottom: 45px;
}
.learning-item{
    background: rgba(255, 255, 255, 0.7);
    width: 320px;
    height: 240px;
}
.uk{
    font-family: 'Headland One';
    color: var(--color-uk);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 40px;
}
.navi{
    font-family: 'Headland One';
    color: var(--color-dark);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}

.navi-1::before{
    content: '';
    display: block;
    width: 152px;
    height: 40px;
    background-image: url(../images/stick-right.png);
    margin-left: 84px;
    margin-right: 84px;
    margin-bottom: 40px;
}
.navi-4::before{
    content: '';
    display: block;
    width: 152px;
    height: 40px;
    background-image: url(../images/stick-right.png);
    margin-left: 84px;
    margin-right: 84px;
    margin-bottom: 40px;
}

.navi-2::before{
    content: '';
    display: block;
    width: 152px;
    height: 40px;
    background-image: url(../images/bird-litle.png);
    margin-left: 84px;
    margin-right: 84px;
    margin-bottom: 40px;
}
.navi-5::before{
    content: '';
    display: block;
    width: 152px;
    height: 40px;
    background-image: url(../images/bird-litle.png);
    margin-left: 84px;
    margin-right: 84px;
    margin-bottom: 40px;
}

.navi-3::before{
    content: '';
    display: block;
    width: 152px;
    height: 40px;
    background-image: url(../images/stick-left.png);
    margin-left: 84px;
    margin-right: 84px;
    margin-bottom: 40px;
}
.navi-6::before{
    content: '';
    display: block;
    width: 152px;
    height: 40px;
    background-image: url(../images/stick-left.png);
    margin-left: 84px;
    margin-right: 84px;
    margin-bottom: 40px;
}
.footer{
    padding-top: 35px;
    padding-bottom: 25px;
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)),url(../images/back-footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.address{
    height: 100%;
    display: flex;
    align-items: center;
}
.footer-div:not(:last-child){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-item:not(:last-child){
    margin-bottom: 16px;
}
.box{
    height: 153px;
    display: flex;
    align-items: center;
}
.footer-item{
    display: flex;
    align-items: center;
    gap: 20px;
    text-wrap: nowrap;
}
.footer-logo{
    display: block;
    width: 183px;
    height: 70px;
    margin-right: 80px;
}
.address::before{
    content: '';
    width: 2px;
    height: 100%;
    margin-right: 80px;
    background-color: var(--color-light);
}
.gmail{
    color: var(--color-light);
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    font-style: normal;
}
.footer-link{
    color: var(--color-light);
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    font-style: normal;
}
.information{
    color: var(--color-light);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: -5px;
    margin-left: 474px;
}